body {
  background-color: #E4D1B9;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  border-color: #506D84;
  width: 5%;
}

* {
  font-family: monospace;
}

h1, h3 {
  color: #A97155;
}

p, th {
  font-size: 15px;
}

tbody {
  font-size: 13px;
}

ul {
  list-style-type: none;
}


.profile {
  height: 100px;
  width: 100px;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

a:link {
  color: #92BA92;
}

a:visited, a:active {
  color: #354259;
}

/****************************** ID SELECTORS ******************************/
table cellspacing=20px;

  {}

/* #heading {
  color: blue;
} */
